name: build new release

on:
  push:
    branches:
      - main

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: osumalaysia.docker-registry.amamiya-kokoro.mya.moe
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: osumalaysia.docker-registry.amamiya-kokoro.mya.moe/tournament-bot:main
